// .imageClass {
//     width: 150px;
//     height: 150px;
// }
// .vertical-align {
//     display: flex;
//     align-items: center;
// }
.pics {
    border-image-width: 40px;
    height: 2pc;
}

.table {
    text-align: center;
}

.heading {
    color: rgb(22, 5, 121);
}